<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">First Blog</a></h1>
        </div>

        <div>
            <p>published: 05.18.2019, 14:05</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi!! Welcome to my blog. This is Shalini.</p>
        </div>

        <div>
            <p>published: 05.18.2019, 14:05</p>
            <h2><a href="">My second post</a></h2>
            <p>The Hiking places in bay area:w</p>
        </div>
    </body>
</html>